{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Sign In{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Sign In</h2>

    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="d-flex gap-3">
            <button type="submit" class="btn btn-sm  btn-success">Sign In</button>
            <a class="btn btn-sm btn-primary" href="{% url 'login' %}">Already have account</a>
        </div>
    </form>
</div>
{% endblock %}
