{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %} 

    <div class="container">


        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Update task
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Update Task</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="{% url 'todo_update' todo.pk %}">
                            {% csrf_token %}
                            {{ form | crispy}}
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col">
                {% if todo %}
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5>Task</h5>
                        <p class="card-title">Title: <strong>{{todo.title}}</strong></p>
                        <p class="card-text">priority: {{todo.priority}}</p>
                        <p class="card-text">status: {{todo.status}}</p>
                        <p class="card-text">due_date: {{todo.due_date}}</p>
                        <p class="card-text">desc: {{todo.description | truncatewords:4}}</p>

                        <hr>
                        <h3>Categories</h3>
                        <ul>
                        {% for item in category %}
                            <li>{{ item.name }}</li>
                        {% empty %}
                            <li>No categories</li>
                        {% endfor %}
                        </ul>


                        <hr>
                        <h5>Tags</h5>
                        <ul>
                            {% for tag in todo.tags.all %}
                                <li> {{tag.name}}</li>
                            {% empty %}
                                <li>No Tags</li>
                            {% endfor %}
                        </ul>

                        <hr>
                        <h5>Sub Tasks</h5>
                        <ul>
                            {% for sub in todo.subtasks.all %}
                                <li>{{sub.title}}</li>
                                <li>{{sub.is_completed}}</li>
                            {% empty %}
                                    <li>No subtasks yet</li>
                            {% endfor %}
                        </ul>


                        <h5>Comments</h5>
                        <ul>
                            {% for comment in todo.comments.all %}
                                <li>{{comment.task}}</li>
                                <li>{{ comment.comment }}</li>
                            {% empty %}
                                <li>No comments yet</li>
                            {% endfor %}
                        </ul>

                        <h5>Add Comment</h5>
                        <form action="{% url 'comment_add' todo.pk %}" method="post">
                            {% csrf_token %}
                            <textarea 
                                name="comment" 
                                placeholder="Write your comment..."
                                id="" required>
                            </textarea>
                            <button type="submit" class="btn btn-sm btn-primary">submit</button>
                        </form>


                        <h5>Attachments</h5>
                        <ul>
                            {% for attach in todo.attachments.all %}
                                <li>{{attach.task}}</li>
                                {% if attach.image %}
                                    <img 
                                        src="{{ attach.image.url }}" 
                                        alt="Attachment"
                                        width="150"
                                    >
                                {% endif %}
                            {% empty %}
                                <li>No Attachments yet</li>
                            {% endfor %}
                        </ul>

                        <h5>Add Attachments</h5>
                        <form action="{% url 'attachment_add' todo.pk %}" method="post">
                            {% csrf_token %}
                            <input type="file" name="image" required>
                            <button type="submit" class="btn btn-sm btn-primary">Upload</button>
                        </form>




                        <div class="d-flex gap-4">
                            <!-- <form method="post" action="">
                                {% csrf_token %}
                                <input type="text" name="title" placeholder="Subtask title">
                                <button type="submit">Add</button>
                            </form> -->

                            <a class="btn btn-sm btn-primary" href="{% url 'todo_list' %}">Back to Home page</a>
                            <form action="{% url 'todo_delete' todo.pk %}" method="post">
                                {% csrf_token %}
                                <input class="btn btn-sm btn-danger" type="submit" value="Submit">
                            </form>

                        </div>                        
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}