{% extends 'base.html' %}
{% block content %} 

<div class="container">
    <div class="row">
        <div class="col">
            {% if todos %}
            <div class="card" style="width: 18rem;">
                {% for todo in todo_list %}
                    <div class="card-body">
                        <h5 class="card-title">task: {{ todo.title }}</h5>
                        <p class="card-text">priority: {{ todo.priority }}</p>
                        <p class="card-text">created_by: {{ todo.created_by }}</p>
                    </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>


    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
</div>

{% endblock %}
